    <section class="ve-cta-banner bg-img" style="background-image:url( {{ url_for('static', filename='img/Antenne1.png') }} );">
        <div class="ve-cta-overlay"></div>
        <div class="container ve-cta-content">
            <div class="row align-items-center">
                <div class="col-12 col-lg-8">
                    <h2>Prêt à construire des infrastructures télécoms  <span>stables et performantes ?</span></h2>
                    <p>Contactez-nous dès aujourd'hui pour discuter de votre projet de déploiement et obtenir une consultation gratuite.</p>
                </div>
                <div class="col-12 col-lg-4 text-lg-right">
                    <a href="/contact" class="ve-btn-white">Réservez une consultation gratuite</a>
                </div>
            </div>
        </div>
    </section>
